#optMenuBack {
	color: #09C;
	font-weight: bolder;
}

#optMenuBack:hover {
	color: yellowgreen;
	text-decoration: underline;
	cursor: pointer;
}

#nav_cardBody {
	position: relative;
	top: -32px;
	left: -135px;
}

.phForm {
	display: none;
}